/* Created by: Rory Mackay
* Created on: Feb 2022
*Assign-01-HTML-CSS-JS
*/

body {
  color: #ffdbdb;
  background-color: #c24400;
}

h3 {
  padding: 40px;
  text-align: center;
  color: #ffadad;
}

h5 {
  padding: 40px;
  text-align: center;
  color: #ffadad;
}

p.thick{
  font-weight: bold;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
  font-size: 18px;
}

p::selection {
  background: #ffdbdb;
  color: #c24400;
}

.image1{
  max-width: 15%;
  max-height: 15%;
  border: 6px solid #752300;
  border-radius: 25px;
}

.image2{
  max-width: 15%;
  max-height: 15%;
  border: 6px solid #752300;
  border-radius: 25px;
}

.image3{
  max-width: 15%;
  max-height: 15%;
  border: 6px solid #752300;
  border-radius: 25px;
}

#video1{
  max-width: 38%;
  max-height: 100%;
  border: 6px solid #752300;
  border-radius: 25px;
}

#textfield1{
  border: 3px solid #752300;
  border-radius: 8px;
}

.list1 {
font-weight: bold;
font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
font-size: 18px;
text-align: left;
margin-left: 45%;
}

#checkbox1{
  border: 3px solid #752300;
  border-radius: 8px;
}

h4 {
  padding-left: 15px;
  text-align: left;
  color: #ffffff;
  padding: 40px;
}

#button1 {
<br></br>
padding: 0px;
font-weight: bold;
font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
font-size: 14px;
margin-left: 0.5%;
border: 3px solid #752300;
}

