/* Created by: Rory Mackay
* Created on: Feb 2022
*Assign-01-HTML-CSS-JS
*/

body {
  color: white;
}

h2 {
  padding: 40px;
  text-align: center;
}

p.thick{
  font-weight: bold;
  text-align: center;
}

p::selection {
  background: #000000;
  color: #ff2600;
}
